.swiper-pagination-bullet-active{
    background: red !important;
}
.swiper-pagination-bullet{
    background: #e32929 !important;
}
.swiper-button-prev, .swiper-button-next{
    width: 20px !important;
    height: 20px !important;
    color: rgb(0, 102, 255) !important;
}